
button {
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
} 
div {
    padding: 0.005rem;
}

h2 {
  border: 2px solid #1a1a1a;
  border-width: 3px;
  border-radius: 15px;
  color: darkblue;
  font-weight: bold;
}

h1, h3, h4, h5, h6 {
    color: darkblue;
    font-weight: bold;
}

a {
  color: white;
}

details {
  color: whitesmoke;
  background-color: white;
  display: none;
}

.minorHeader {
    font-size: 1.2rem;
    padding-bottom: 3.2rem;
    border-color: black;
    border-width: 0.5rem;
}

.metricHeader {
  font-size:smaller;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(27, 29, 39, 0.698);
  padding: 10px;
}
.gridContainer div {
  /*color: black
  background-color: #f1f1f1;*/
  border: 1px solid rgb(60, 66, 66);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.rankedGame {
  background-color: #222222b1;
}

.darkBackdrop {
    color: #bcb9bf;
}

.whiteBox {
    background-color: white;
    width: 30%;
    border-radius: 3rem;
}

.smallSquare {
  width: min(80%, 40rem);
  height:6rem;
}

.square {
    width: 8rem;
    height: 20rem;
}

#userRequestBtn {
  font-weight: bold;
  font-size: 1.2rem;
}

#overallRecButton {
    font-weight: bold;
    font-size: 200%;
}

#sizeRanking{
  background-color: #971b1b70;
}

#gameplayRanking{
  background-color: rgba(0, 100, 0, 0.423);
}

#investmentRanking{
  background-color: rgba(7, 39, 115, 0.326);
}

/*
CSS for MultiSelectTag below
*/

.multi-select-tag {
    all: revert !important;
    font-family: inherit !important;
}
.multi-select-tag .wrapper {
    position: relative;
}
.multi-select-tag .tag-container {
    display: flex;
    padding: 0.9rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    border: 2px solid #3909bc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: black;
    font-weight: 900;
    line-height: 1.25rem;
    background-color: #ffffff;
}
.multi-select-tag .tag-input {
    padding: 0.25rem;
    flex-grow: 1;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    background-color: #ffffff;
    margin: 0;
    line-height: 1.25rem;
}
.multi-select-tag .dropdown {
    overflow: auto;
    position: absolute;
    z-index: 10;
    padding: 0px;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #e5e7eb;
    width: 100%;
    max-height: 15rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.multi-select-tag .li {
    padding: 0.5rem;
    cursor: pointer;
    list-style-type: none;
}
.multi-select-tag .li:hover {
    background-color: #E5E7EB;
}
.multi-select-tag .li-arrow {
   background-color: #D1D5DB;
}
.multi-select-tag .tag-item {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    color: #1E40AF;
    background-color: #DBEAFE;
}
.multi-select-tag .cross {
    margin-left: 0.25rem;
    cursor: pointer;
}
.multi-select-tag .hidden {
    display: none;
}




/*
Custom background pattern
*/
/* From Uiverse.io by SelfMadeSystem */ 
/* From Uiverse.io by Cobp */ 
.container {
  --color-0: #fff;
  --color-1: #111;
  --color-2: #222;
  --color-3: #333;
  --color-4: #2e2e2e;
  --color-5: #d2b48c;
  --color-6: #b22222;
  --color-7: #871a1a;
  --color-8: #ff6347;
  --color-9: #ff3814;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  background-image: linear-gradient(
      to top,
      var(--color-2) 5%,
      var(--color-1) 6%,
      var(--color-1) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--color-1) 30%, transparent 80%),
    linear-gradient(to right, var(--color-2), var(--color-4) 5%, transparent 5%),
    linear-gradient(
      to right,
      transparent 6%,
      var(--color-2) 6%,
      var(--color-4) 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      var(--color-2) 27%,
      var(--color-4) 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      var(--color-2) 51%,
      var(--color-4) 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--color-1) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      var(--color-2) 42%,
      var(--color-4) 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      var(--color-2) 45%,
      var(--color-4) 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      var(--color-2) 48%,
      var(--color-4) 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      var(--color-2) 87%,
      var(--color-4) 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--color-1) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      var(--color-2) 14%,
      var(--color-4) 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--color-1) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      var(--color-2) 10%,
      var(--color-4) 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      var(--color-2) 21%,
      #1a1a1a 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      var(--color-2) 58%,
      var(--color-4) 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      var(--color-2) 92%,
      var(--color-4) 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--color-1) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      var(--color-2) 96%,
      #1a1a1a 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--color-1) 76%,
      var(--color-1) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--color-1) 86%,
      var(--color-1) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      var(--color-2) 35%,
      var(--color-4) 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--color-1) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      var(--color-3) 78%,
      var(--color-3) 80%,
      transparent 80%,
      transparent 82%,
      var(--color-3) 82%,
      var(--color-3) 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      var(--color-2) 66%,
      var(--color-4) 85%,
      transparent 85%
    );
  background-size: 300px 150px;
  background-position: center bottom;
}
/*
.container:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: var(--color-1);
  background-image: linear-gradient(
      to top,
      var(--color-5) 5%,
      var(--color-1) 6%,
      var(--color-1) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--color-1) 30%, transparent 30%),
    linear-gradient(to right, var(--color-6), var(--color-7) 5%, transparent 5%),
    linear-gradient(
      to right,
      transparent 6%,
      var(--color-8) 6%,
      var(--color-9) 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      #556b2f 27%,
      #39481f 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      #fa8072 51%,
      #f85441 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--color-1) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      #008080 42%,
      #004d4d 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      #008080 45%,
      #004d4d 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      #008080 48%,
      #004d4d 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      #789 87%,
      #4f5d6a 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--color-1) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      #bdb76b 14%,
      #989244 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--color-1) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      #808000 10%,
      #4d4d00 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      #8b4513 21%,
      #5e2f0d 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      #8b4513 58%,
      #5e2f0d 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      #2f4f4f 92%,
      #1c2f2f 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--color-1) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      #2f4f4f 96%,
      #1c2f2f 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--color-1) 76%,
      var(--color-1) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--color-1) 86%,
      var(--color-1) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      #cd5c5c 35%,
      #bc3a3a 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--color-1) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      #bc8f8f 78%,
      #bc8f8f 80%,
      transparent 80%,
      transparent 82%,
      #bc8f8f 82%,
      #bc8f8f 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      #a52a2a 66%,
      #7c2020 85%,
      transparent 85%
    );
  background-size: 300px 150px;
  background-position: center bottom;
  clip-path: circle(50px at center center);
  /*animation: flashlight 50s ease infinite;
  }
*/
  

/*
.container:after {
  content: "";
  width: 25px;
  height: 10px;
  position: absolute;
  left: calc(50% + 59px);
  bottom: 100px;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #fff 50%, transparent 50%),
    radial-gradient(circle, #fff 50%, transparent 50%);
  background-size: 10px 10px;
  background-position:
    left center,
    right center;
  animation: eyes 20s infinite;
}
*/
@keyframes flashlight {
  0% {
    clip-path: circle(150px at -25% 10%);
  }

  38% {
    clip-path: circle(150px at 60% 20%);
  }

  39% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  40% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  41% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  42% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  54% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  55% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  59% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  64% {
    clip-path: circle(150px at 45% 78%);
  }

  68% {
    clip-path: circle(150px at 85% 89%);
  }

  72% {
    clip-path: circle(150px at 60% 86%);
  }

  74% {
    clip-path: circle(150px at 60% 86%);
  }

  100% {
    clip-path: circle(150px at 150% 50%);
  }
}

@keyframes eyes {
  0%,
  38% {
    opacity: 0;
  }

  39%,
  41% {
    opacity: 1;
    transform: scaleY(1);
  }

  40% {
    transform: scaleY(0);
    filter: none;
    background-image: radial-gradient(circle, #fff 50%, transparent 50%),
      radial-gradient(circle, #fff 50%, transparent 50%);
  }

  41% {
    transform: scaleY(1);
    background-image: radial-gradient(circle, #ff0000 50%, transparent 50%),
      radial-gradient(circle, #ff0000 50%, transparent 50%);
    filter: drop-shadow(0 0 4px #ff8686);
  }

  42%,
  100% {
    opacity: 0;
  }
}


